
@model Category

<h1>Add Category</h1>

<div>
    <form method="post">
        <span asp-validation-for="Name" class="text-danger"></span><br/>
        <label>name</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="DisplayOrder" class="text-danger"></span><br />
        <label>Display order</label>
        <input type="number" asp-for="DisplayOrder" class="form-control" />
        
        <button type="submit" class="btn btn-primary form-control mt-2">add</button>

    </form>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}