@model Product

<h1>Delete Product</h1>

<div>
    <form method="post">
        <label>name</label>
        <input type="text" asp-for="Title" class="form-control" />
        <label>ISBN</label>
        <input type="text" asp-for="ISBN" class="form-control" />
        <button type="submit" class="btn btn-primary form-control mt-2">delete</button>

    </form>
</div>

